[submodule "hey"]
	path = hey
	url = git@github.com:ozramos/hey.git
[submodule "linux-mint"]
	path = linux-mint
	url = git@github.com:ozramos/linux-mint.git
[submodule "gemini"]
	path = gemini
	url = git@github.com:ozramos/hey-gemini.git
